.bigBox {
  height: 30px;
  background-color: #C20C0C;
  line-height: 30px;
}

.box {
  display: flex;
}

.box li {
  flex: 1 0 0;
}

.box li a {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 13px;
  margin: 1px 17px 0;
  color: #fff;
}

.box li a:hover {
  background-color: #9B0909;
  border: 1px solid  #9B0909;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
