.bigBox {
    height: 30px;
    background-color: #C20C0C;
    line-height: 30px;
}
.box {
    display: flex;
   
    li {
        flex: 1 0 0;
        a{
            display: inline-block;
            height: 20px;
            line-height: 20px;
            padding: 0 13px;
            margin: 1px 17px 0;
            color: #fff;
            &:hover{
                background-color:  #9B0909;
                border: 1px solid  #9B0909;
                border-radius: 16px;
}
        }    
    }
}
.active {
    background-color:  #9B0909;
    border: 1px solid  #9B0909;
    border-radius: 16px;
}