.header {
  height: 0.44rem;
  background-color: #ee742f;
  font-size: .18rem;
  color: #fff;
  text-align: center;
  line-height: 0.44rem;
}

.swiperImg {
  width: 100% !important;
}

.gongge {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  background-color: #fff;
  height: 1.2rem;
}

.gongge img {
  width: .8rem;
  height: .8rem;
}

.gonggeBox {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.1rem;
  color: #908F90;
}

.gonggeBox .item {
  flex: 1 0 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cateTitle {
  padding: 0 0.1rem;
}

.cateTitle div {
  width: 100%;
  background-color: #fff;
  color: #C2C1C2;
  height: .4rem;
  padding: .1rem 0 0 .2rem;
}
